<div class="container" fxFill fxLayout="column" fxLayoutAlign="center stretch" >
  <mat-card class="card" fxFill fxLayout="column" fxLayoutAlign="center stretch" >

    <mat-card-content class="matContent" >
      <form [formGroup]="options"  fxLayout="column" onsubmit="return false" >
        <mat-form-field appearance="outline" onsubmit="return false">
          <mat-label>Titulo</mat-label>
          <input matInput type="text" #titulo [formControl]="tituloValidation">

        </mat-form-field>
        <mat-form-field class="txtbox" appearance="fill"  >
          <mat-label>Post</mat-label>
          <textarea  matInput class="txtarea" #texto  [formControl]="textoValidation"></textarea>
        </mat-form-field>
      </form>

    </mat-card-content>

    <mat-card-actions onsubmit="return false">
      <button mat-button class="btn" type="button" (click)="guardarPost(titulo.value, texto.value)" >Aceptar</button>
    </mat-card-actions>



  </mat-card>
</div>
