.container{
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
  overflow-x: hidden;
  display: block;
  padding: 0;
  margin: 0;
}
.header{
  align-self: stretch;
  background: transparent;

}

.backbutton{
  display: flex;
  position: fixed;
  width: fit-content;
  height: fit-content;
  align-self: flex-end;
  margin: 3%;
  bottom: 0;
}
